.imagenCarta{
    width:195px;
    height:240px;
    background-size: cover;
}
.imagenGrande{
    transform:scale(1.2);
}
.quitaEvento{
    pointer-events:none;
}
.imagenCarta:hover{
    transform:scale(1.2);
}
.cardTamanio{
    margin: 10px;
    width:195px;
    height:240px;
}